/* 
FILENAME: globals.css
DESCRIPTION: This stylesheet serves global declarations to all Quippopotamus assets
*/

/* =GRID OVERRIDE */
/*  Grid is inactive when entire section is commented */
/*
body {
  background: #fff url("../images/12_col.png") center top repeat-y !important;
}

.bg_container {
  background: none !important;
}
*/
/* =BASE */

body {
  background: #fff;
  font: normal 16px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: left;
	color: #444;
}

a:link, a:visited {
}
	
a:hover, a:active {
}

a, strong, b { /* Straightens out OS X font rendering */
  line-height: 19px;
}

.hidden {
	display: none;
}

/* =GRID =MODIFIERS */

.container_12:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
.container_12{display:inline-block}
* html .container_12{height:1%}
.container_12{display:block}

li.alpha {
  clear: both;
}

/* =HEADINGS */

/* =BUTTONS =BASE */
/* Abstracted from the Wufoo implementation - thanks guys! */
/* http://particletree.com/features/rediscovering-the-button-element/ */

.buttons {
  clear: both;
  line-height: 40px;
}

.buttons button, .buttons .button {
  display: block;
  float: left;
  background: #fff url("/images/bg_button.gif") repeat-x center bottom;
  margin: 5px 0;
  padding: 4px 0;
  border: 1px solid #b4b4b4;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
/*  line-height: 20px;*/
  font: bold 9px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif; /* normalize font */
  text-transform: uppercase;
  text-align: center;
  color: #069;
}

.buttons button {
  padding: 8px 0 7px 0;
}

.buttons button.positive, .buttons .button.positive {
  color: #093;
}

.buttons button.positive:hover, .buttons .button.positive:hover {
	background: #093;
	border-color: #093;
}

.buttons button:hover, .buttons .button:hover {
	background: #069;
	border-color: #069;
	color: #fff;
	cursor: pointer;
}

.buttons .passive {
  background: none;
  padding: 6px 0 5px 0;
  border: 0;
  color: #646464; 
}

.buttons .passive:hover {
  background: #d4d4d4;
  color: #646464; 
}